.about-container {
  padding-top: 2rem;
  height: fit-content;
  background-color: whitesmoke;
}

.about-text {
  width: 70%;
  margin-top: 2rem;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 1.5;
  text-align: center;
  font-family: Bacasime Antique, serif;
}

.about-box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUsTitle {
  text-align: center;
  font-size: 2.25rem;
  font-weight: 800;
  font-family: 'Ysabeau SC', sans-serif;
}

.divider {
  height: 5px;
  background-color: black;
  width: 50%;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .about-text {
    font-size: 1.2rem;
    width: 80%;
  }

}

@media screen and (max-width: 480px) {
  .about-text {
    font-size: 1rem;
    width: 80%;
  }
}