.rooms-container{
    min-height: 100vh;
    background-color: whitesmoke;

}

.room-description{
    font-family: Bacasime Antique, serif;
    text-align: justify;
    font-size: 1.5rem;
    margin: 1rem;
}

.room-title{
    font-size: 3rem;
    text-align: center;
    padding: unset;
}

.image-box{
  max-width: 30rem; 
  max-height: 35rem;
  padding: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.image-box img {
    width: 100%; /* Set the image width to fill the container */
    height: 100%; /* Set the image height to fill the container */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
  }

  @media screen and (max-width: 768px) {
    .room-description {
      font-size: 1rem;
    }
    .room-title{
        font-size: 2rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .room-description {
        font-size: .75rem;
      }
      .room-title{
        font-size: 1.5rem;
    }
  }